<div class="container" id="password">
  <div class="center-col">
    <h2>Refresh password</h2>

    <form>
      <div ng-show="error || success" class="alert" ng-class="{'alert-success' : success, 'alert-danger': error}">{{message}}</div>
      <input type="text" ng-model="nickname" class="form-control input-lg form-group" placeholder="Nickname or email">
      <button ladda="isLoading" data-style="expand-right" ng-click="password()" type="submit" class="btn btn-primary btn-lg btn-block">Send me an email</button>
    </form>
  </div>
</div>
